<!--
<span>
  {{title}}
  Dans cette page on peut ajouter des conditions par exemple ngIf pour afficher juste
   certains pokemons donc on peut ajouter ou cacher des chose sans avoir a recharger la page
</span>
 pour attacher notre composant listpokemon à la template du composant pricipale on défini
son selecteur comme une  balise html donc de cette facon je prends le contenu html(
list-pokemon.component.html) de ce composant et je l affiche dans le composant html
-->


<router-outlet>

</router-outlet>

<!--
<nav>

  <div class =""nav-wrapper teal ">
  <a href = "#" class="brand-logo center "> Pokemon App </a>
  </div>
</nav>

-->
